$mobile-max: 767px;
$tablet-min: 768px;
$desktop-min: 992px;
$desktop-large: 1920px;

@mixin mobile() {
  @media only screen and (max-width: $mobile-max) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (min-width: $tablet-min) {
    @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: $desktop-min) {
    @content;
  }
}